@import './icon.less';
@import './font.css';

html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
.QuestionsList {
  padding: 0 10px;
  margin: 10px 0;
}
.iconfont {
  font-size: 12px;
}
.ql-editor {
  /* 最小高度 */
  min-height: 200px !important;
}
