@import "./icon.less";

html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}



.BaseMenu {
  .menu-btn {
    margin: 15px;
  }
  .el-table th.is-leaf {
    background-color: #fafafa;
    border-bottom: 2px solid #e8e8e8;
  }
}
.BasePermission {
  .el-table th.is-leaf {
    background-color: #fafafa;
    border-bottom: 2px solid #e8e8e8;
  }
}
